.ik-converter-input {

}
.ik-converter-input__label{
    float:left;
    min-width: 80px;
}
.ik-converter-input__form {
    display: flex;
}
.ik-converter-input__textarea {
    margin-right: 5px;
    border-radius: 5px;
    max-width: 100px;
}
.ik-converter-select {
    border-radius: 5px;
    width:60px;
    background-color: rgb(88, 82, 82);
    color:white;
}
.ik-converter__value-abr {
    border-radius: 5px;

    width: 60px;
}
input:read-only {
    opacity: 0.6; 
   }