@import "../currency-page/variables.scss";
.ik-available-currencies {
    border: 2px solid $lightGrey;
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    color: $blue;
}

.ik-available-currencies__day-progress--red {
    background-color: $commonRed;
}

.ik-available-currencies__day-progress--green {
    background-color: $commonGreen;
}

.ik-available-currencies__row {
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
    padding-bottom: 2%;
    cursor: pointer;
}

.ik-available-currencies__row:hover {
    background-color: $blue;
    color: white;
}

.ik-available-currencies__row--selected {
    background-color: $blue;
    color: white;
}

.ik-available-currencies__icon {
    min-width: 10%;
    margin: auto;
}

.ik-available-currencies__abr {
    font-weight: bold;
    min-width: 20%;
}

.ik-available-currencies__rate {
    min-width: 32%;
}

.ik-available-currencies__day-progress {
    border: 2px solid white;
    min-width: 38%;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

@media (max-width: 700px) {
    .ik-available-currencies {
        display: flex;
        width: 100%;
        overflow: auto;
    }
    .ik-available-currencies__row {
        border: 1px solid $lightGrey;
        flex-direction: column;
    }
    .ik-available-currencies__icon, .ik-available-currencies__abr, .ik-available-currencies__rate, .ik-available-currencies__day-progress {
        margin: 3px;
    }
    .ik-available-currencies__day-progress {
        width:100%;
        margin: auto;
    }
}