html {
    height: 100%;
}

body {
    height: 100%;
}

.ik-page {
    min-height: 100%;
    background-color: rgb(88, 82, 82);
}

.ik-currency-page {
    max-height: 100%;
    max-width: 1600px;
    display: flex;
    flex-wrap: wrap;
    padding: 3%;
}

.ik-currency-page__search {
    min-height: 120%;
    width: 30%;
    display: flex;
    box-sizing: border-box;
}

.ik-currency-page__search--unvizible {
    visibility: hidden;
}

.ik-currency-page__navigation {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 20%;
    box-sizing: border-box;
}

.ik-currency-page__available-currencies {
    width: 30%;
    max-height: 78vh;
    margin-top: 2%;
    box-sizing: border-box;
}

.ik-currency-page__info-place {
    margin-top: 2%;
    width: 60%;
}

.ik-currency-page__currency-calculator {
    margin-top: 2%;
    width: 60%;
}

.ik-currency-page__about {
    margin: auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}

.ik-currency-page__favorite-currencies {
    width: 80%;
    margin: auto;
}

.ik-currency-page__saveable-currency-dynamic {
    margin-top: 2%;
    width: 60%;
}