$darkGrey: rgb(88, 82, 82);
$lightGrey: #ddd;
$blue: rgb(74, 74, 228);
$visitedBlue: rgb(0, 123, 255);
$addingGreen: rgb(48, 136, 84);
$commonGreen: rgb(30, 126, 30);
$commonRed: rgb(151, 21, 21);
$gold: rgb(228, 192, 74);
$smallScreen: 700px;



