.ik-currency-tabs {
    max-width: 95%;
}
.ik-currency-tab {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid rgb(116, 110, 110);
    width: 100px;
    height: 40px;
    flex-shrink: 0,1;
}
.ik-currency-tab__new {

}
.ik-currency-tab__abr {

}
.ik-currency-tab__close {

}