@import "../currency-page/variables.scss";
.ik-currency-tabs {
    max-width: 95%;
    color: $lightGrey;
}

.ik-currency-tab {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid $lightGrey;
    width: 100px;
    height: 40px;
    cursor: pointer;
    @media (max-width: $smallScreen) {
        width: 70px;
    }
}

.ik-currency-tab--selected {
    background-color: white;
}

.ik-currency-tab__new {
    color: red;
}

.ik-currency-tab__abr {}

.ik-currency-tab__close {}