.ik-currency-tabs {
    max-width: 95%;
    color: #ddd;
}
.ik-currency-tab {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #ddd;
    width: 100px;
    height: 40px;
    cursor: pointer;
}
.ik-currency-tab--selected {
    background-color: white;
}
.ik-currency-tab__new {
    color:red;
}
.ik-currency-tab__abr {

}
.ik-currency-tab__close {

}
@media (max-width: 600px){
    .ik-currency-tab {
        width: 70px;
    }
}
