@import "../currency-page/variables.scss";

.ik-navigation {}

.ik-navigation__button {
    color: white;
}

.ik-navigation__button--selected {
    color: $blue;
}

.ik-navigation__counter {
    color: $commonRed;
    text-decoration: none;
    float: right;
    margin-left: 10px;
}