@import "../currency-page/variables.scss";

.ik-favorite-currencies {
}
.ik-favorite-currencies__currency-tabs {
    display: flex;
    flex-wrap:wrap;
    align-content:flex-start;
}
.ik-favorite-currencies__currency-info {
    padding: 3%;
    border: 2px solid $lightGrey;
    background-color: white;
}
