
.ik-converter-container {
    width: 30%;
    height: 100%;
    border: 2px solid black;
    background-color: rgb(184, 176, 176);
}
.ik-converter-container__converter-input {
    padding-top: 50px;
}