@import "../currency-page/variables.scss";

.ik-search {
}
.ik-search__form {
    display: flex;
}

.ik-search__search-place {
    padding: 2%;
    min-width: 70%;
    color: white;
    background-color: $blue;
    border: 2px solid $lightGrey;
    border-radius: 10px 0 0 10px;
}

.ik-search__search-button {
    padding: 2%;
    color: white;
    background-color: $gold;
    border: 2px solid white;
    border-radius: 0 10px 10px 0;
    user-select: none;
}