@import "../currency-page/variables.scss";

.ik-save-to-favorite-button {
    border: 2px solid white;
    background-color: $addingGreen;
    border-radius: 3px;
    color:white;
    min-width: 20%;
    cursor: pointer;
    font-weight: bold;
}