.ik-currency-dynamic-for-dates {
    height: 80%;
}
.ik-currency-dynamic-for-dates__date-input {
    display: flex;
    justify-content: space-around;
    color: white;
    padding-bottom:10%;
    box-sizing: border-box;
    min-height: 30%;
    
}
.ik-currency-dynamic-for-dates__date-picker {
    display: inline-block;
}
.ik-currency-dynamic-for-dates__graph {
    height: 30vh;
}
@media (max-width: 700px){
    .ik-currency-dynamic-for-dates__date-input {
        display: block;        
    }
}