@import "../currency-page/variables.scss";
.ik-favorite-currencies-info {
    @media (max-width: $smallScreen) {
        height: 500px;
    }
}

.ik-favorite-currencies-info__info-table {}

.ik-favorite-currencies__dynamic-for-dates {
    padding: 3%;
    border: 2px solid $lightGrey;
    background-color: white;
}

@media (max-width: $smallScreen) {
    .ik-favorite-currencies-info {
        height: 500px;
    }
}